<html>
<head> 
 </head>
<body class="body">
	<div class="nav-bar">
		<%= link_to("Keyboard", keyboard_path) %>
		<div class="sign-up"><button type="button"> Sign Up </button></div>
		<div class="log-in"><button type="button"> Log In </button> </div>
	</div>
	<div>
		<h3 style="margin-left: 500px; postion: relative; margin-top: 47px;">Welcome to Octaves!</h3>

		<div class="top-block">
			<div class="welcome">
				Octaves is an interactive keyboard for learning basic music theory. By using Octaves you can learn scales, chords, basic songs, and practice ear training and sight-reading.
			</div>
		</div>
	</div>
	<div id="sign-in-popup">
		<div>
			<h2>Sign up</h2>
		<div> 

		<div class="sign-up-form">
			<%= form_tag(users_path, :method => 'post') do %>
			<div class="center">
				<%= label_tag(:first_name, "First Name") %>
				<%= text_field_tag(:first_name) %>
				</br>
				<%= label_tag(:last_name, "Last Name") %>
				<%= text_field_tag(:last_name) %>
				</br>

				<%= label_tag(:username, "User Name") %>
				<%= text_field_tag(:username) %>
				</br>

				<%= label_tag(:email, "Email") %>
				<%= text_field_tag(:email) %>
				</br>

				<%= label_tag(:password, "Password") %>
				<%= password_field_tag(:password) %>
				</br>
			<div>
				<%= submit_tag("Submit") %>		
			<% end %>
		</div>
	</div>
 </body>

</html>
