<%= form_for User.new do |f| %>
  <div class="center">
        <%= f.label(:first_name, "First Name") %>
        <%= f.text_field(:first_name) %>
        </br>
        <%= f.label(:last_name, "Last Name") %>
        <%= f.text_field(:last_name) %>
        </br>

        <%= f.label(:username, "User Name") %>
        <%= f.text_field(:username) %>
        </br>

        <%= f.label(:email, "Email") %>
        <%= f.text_field(:email) %>
        </br>

        <%= f.label(:password, "Password") %>
        <%= f.password_field(:password) %>
        </br>
      <div>
        <%= f.submit("Submit") %>   
      </div>
    </div>
<% end %>
