<p id="notice"><%= notice %></p>

<h1>High Scores</h1>

  <div style="width: 500px; font-size: 20px; position: relative; left: 33%; margin-top: 50px;">
    <% @users.each_with_index do |user, index| %>
      <div class="user">
        <div><%= index + 1 %>.</div>
        <div><%= user.username %></div>
        <div class="score" style="padding-left: 10px;"> Chord High Score <%= user.chord_high_score %></div>
        <div class="score1" style="padding-left: 10px;"> Scale High Score <%= user.scale_high_score %></div>
      </div>
    <% end %>
  </div>
<br>

