<html>
<head>  
  <%= link_to("Home", root_path) %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="answer">
      <div class="correct"> <div class="text">Correct</div></div>
      <div class="error"><div class="text">Wrong! Try again!</div></div>
  </div>
  
  <button type="button" class="buttons first" id="scale"> Scales </button>
  <button type="button" class="buttons first" id="chord" style="left: 50%;"> Chords </button>

  <div class="scale-choices">
    <button type="button" class="scale-button buttons" id="play-scale-button"> Play Scales </button>
    <button type="button" class="scale-button buttons" id="scale-identification"style="left: 50%;"> Scale Identification </button>
  </div>
  <div class="play-scales">
    <button class="scale-back btn btn-default"> Back</button>
    <div style="left: 29%; position: relative;">
      <%= render "keyboard/scale_selection" %>
    </div>
    <div style="position: relative; left: 38%; top: 35%;">
      <button class="play-scale btn btn-primary active"> Play Scale</button>
    </div>
  </div> 

  <div class="play-scale-id" style="display: none;">
    <button class="scale-back btn btn-default"> Back</button>
    <div style="float: right;"> High Score <span> <%= @user.high_score %> </span></div>
    <div style="left: 29%; position: relative;">
      <%= render "keyboard/scale_selection" %>
    </div>
    <div style="position: relative; left: 38%; top: 35%;">
      <button class="guess-scale btn btn-primary active">Guess</button>
      <button type="button" class="btn listen-scale">Listen</button>
    </div>
  </div>

  <div class="chord-choices">
    <button type="button" class="buttons" id="play-chord-button"> Play Chords </button>
    <button type="button" class="buttons" id="chord-identification" style="left: 50%;"> Chord Identification </button>
    <div class="chord-choice-back pull-right">X</div>
  </div>
  <div class="play-chord-id" style="display: none;">
    <button class="chord-back btn btn-default"> Back</button>
    <div style="float: right;"> High Score <span> <%= @user.high_score %> </span></div>
    <div style="left: 29%; position: relative;">
      <%= render "keyboard/chord_selection" %>
      <div style="position: relative; left: 38%; top: 35%;">
        <button class="guess-chord btn btn-primary active">Guess</button>
        <button type="button" class="btn listen">Listen</button>
      </div>
    </div>
  </div>
  <div class='play-chord' style="display:none;">
    <%= render "keyboard/chord_selection" %>
    <button class="play-chord-button btn btn-primary active"> Play Chord</button>  
  </div>

  <div class="keyboard-background">
  	 <ul class="piano">
      <li class="key">
        <div class="white-key" data-key="0" data-note="1C"></div>
        <div class="black-key" data-key="1" data-note="1Cs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="2" data-note="1D"></div>
        <div class="black-key" data-key="3" data-note="1Ds"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="4" data-note="1E"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="5" data-note="1F"></div>
        <div class="black-key" data-key="6" data-note="1Fs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="7" data-note="1G"></div>
        <div class="black-key" data-key="8" data-note="1Gs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="9" data-note="2A"></div>
        <div class="black-key" data-key="10" data-note="2As"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="11" data-note="2B"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="12" data-note="2C"></div>
        <div class="black-key" data-key="13" data-note="2Cs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="14" data-note="2D"></div>
        <div class="black-key" data-key="15" data-note="2Ds"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="16" data-note="2E"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="17" data-note="2F"></div>
        <div class="black-key" data-key="18" data-note="2Fs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="19" data-note="2G"></div>
        <div class="black-key" data-key="20" data-note="2Gs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="21" data-note="3A"></div>
        <div class="black-key" data-key="22" data-note="3As"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="23" data-note="3B"></div>
      </li>
    </ul>
  </div>
 </body>
</html>
